@font-face {
  font-family: aven;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/AvenirNextLTPro-Regular.otf');
  src: url('../fonts/AvenirNextLTPro-Regular.otf?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: aven;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/AvenirNextLTPro-Bold.otf');
  src: url('../fonts/AvenirNextLTPro-Bold.otf?#iefix')
}